.left{
    display: flex;
    flex-direction: column;
    width: 80%;
    background: url('../images/background.png');
    background-attachment: fixed;
  }
  
  .left .genres__container{
    display: flex;
    flex-wrap: wrap;
    height: 1100px;
    overflow-y: scroll;
    background-color: white;
    width: 95%;
    margin: auto;
    justify-content: center;
  }
  
  .left h1 {
    margin-top: 30px;
    margin-left: 50px;
    background: white;
    padding:10px;
    color:#100b26
  }