.register{
    position: absolute;
    height:350px;
    width:300px;
    top: 50px;
    left: calc(50% - 175px);
    z-index:99;
    background-color:#553ebe;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden !important;
    animation: comein 1s linear
}

.register h1{
  margin-bottom: 30px;
}

.register .form {
  width: 90%;
  max-width: 360px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto';
  position: relative;
}

.register .form img{
  height: 100px;
  width: 100px;
  top: 80px;
  right: -80px;
  position: absolute
}

.register.form h1 {
  color: #00BCD4;
}

.register.form .btn {
  margin: 20px auto;
}

.register.form p {
  font-style: italic;
}

.register.form a {
  color: #00BCD4;
  cursor: pointer;
}

.register .form .input{
  margin:10px;
}

.register .form button{
  margin:10px;
}

.register .form p span{
  color: yellow;
  cursor: pointer;
}

@media (max-height: 700px) {
  .register{
    height: 350px;
    overflow: scroll;
  }
}
.MuiTextField-root{
  background-color:rgba(255, 255, 255, 0.04);
}

.MuiInput-underline:hover:not(.Mui-disabled)::before{
  border-color: white !important;
}

.Mui-focused{
  color:white !important
}