.top{
    margin: 0px;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.top > div{
  width: 90%;
}

.top > div img{
  width: 100%;
}
  
  @media only screen and (max-width: 1100px){
    .top{
      display:flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
          
    }
    .top > div{
      margin: 30px;;
      width: 250px;
    }
  }
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
    .top{
      display:flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
          
    }
    .top > div{
      margin: 30px;;
    }
  
  }
  